$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

* {
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    height: calc(100vh - 0.1px);
    font-family: 'Kumbh Sans', sans-serif;
    background: $darkCyan;
    color: $veryDarkDesaturatedBlue;
    background-image: url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom 50vh right 50vw, top 50vh left 50vw;
}



.card {
    min-width: 300px;
    border: none;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;


    &-header {
        position: relative;
        background-image: url("../images/bg-pattern-card.svg");
        padding: 4rem 0;
        border-start-start-radius: 15px !important;
        border-start-end-radius: 15px !important;
    }

    img {
        position: absolute;
        bottom: -43%;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid white;
    }

    &-title {
        font-size: 18px;
        font-weight: 700;
        margin-top: 3.5rem;
        margin-bottom: 0;

        span {
            font-weight: normal;
            color: $darkGrayishBlue;
            margin-left: 5px;
        }
    }

    p.small {
        color: $darkGrayishBlue;
    }

    &-footer {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 1.2rem;

        .stats {

            .number {
                font-size: 18px;
                font-weight: 700;
            }

            .heading {
                color: $darkGray;
                font-size: 11px;
            }
        }
    }
}


footer {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(0, 0%, 0%);
        text-decoration: underline;
    }
}